# Configuration NOEST API (Nord & Ouest Express)
NOEST_BASE_URL=https://app.noest-dz.com
NOEST_API_TOKEN=JlLZKsPRF6eClTd4v2NaDfS60JZLbgxtWfd
NOEST_USER_GUID=UHGCDOGE

# Configuration Meta Pixel & Conversions API (CAPI)
META_PIXEL_ID=1422859033068055
META_CAPI_TOKEN=votre_meta_capi_token_ici
META_TEST_EVENT_CODE=

# Port local
PORT=3000
